import React from 'react'
import T from 'prop-types'

/**
 * class description
 */
export class <%= name %> extends React.Component {
  static propTypes = {
    /** property documentation */
    prop1: T.string.isRequired,
    /** property documentation */
    prop2: T.func.isRequired,
    /** property documentaion */
    optionalProp: T.string
  }

  static defaultProps = {
    optionalProp: "default value"
  }

  state = {}

  render() {
    return(
      <div>
        <%= name %>
      </div>
    )
  }
}
export default <%= name %>
